<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/paper-ripple/paper-ripple.html" />
<link rel="import" href="../../../../bower_components/iron-selector/iron-selector.html" />
<link rel="import" href="../../../../bower_components/paper-menu-button/paper-menu-button.html" />
<link rel="import" href="../../../../bower_components/neon-animation/web-animations.html" />
<link rel="import" href="../../font-icons.html" />
<link rel="import" href="../../behaviors.html" />

<dom-module id="bv-toolbar">
  <link rel="import" type="css" href="bv-toolbar.css">
  <template>
    <style include="font-icons"></style>
    <div class="container">
      <i on-click="back" class$="material-icons back-button [[_addClass('show', _isNotHomePage)]]">keyboard_arrow_left</i>
      <div class="page-name">[[app.pageName]]</div>
      <div class="back-to-top" on-click="_backToTop"></div>
      <iron-selector attr-for-selected="name" selected="{{rightMenuName}}">
        <div name="none"></div>
        <div name="notifications" class="notification-button" on-click="_jumpToNotifications" data-read$="[[_addClass('unread', haveUnreadNotification)]]">
          <paper-ripple></paper-ripple>
          <i class="material-icons notifications">notifications</i>
          <template is="dom-if" if="{{haveUnreadNotification}}">
            <span>[[app.notificationCount]]</span>
          </template>
        </div>
        <paper-menu-button id="paper-menu" horizontal-align="right" horizontal-offset="0" vertical-offset="-5" name="menu" class="menu-container">
          <div class="menu-button" slot="dropdown-trigger">
            <paper-ripple></paper-ripple>
            <i class="material-icons">more_horiz</i>
          </div>
          <div class="menu-list" slot="dropdown-content">
            <template is="dom-repeat" items="[[rightMenus]]">
              <div on-click="_menuClicked" class="menu-item">
                <paper-ripple></paper-ripple>
                [[item]]
              </div>
            </template>
          </div>
        </paper-menu-button>
      </iron-selector>
    </div>
    <template is="dom-if" if="{{_equal(mode, 'normal')}}"><div class="bottom-split-border"></div></template>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BVToolbar extends Polymer.mixinBehaviors([BVBehaviors.UtilBehavior], Polymer.Element) {
      constructor() {
        super();
        if (!window._bv_toolbar_event) {
          window._bv_toolbar_event = 'attached';
          let timer = null;
          let self = this;
          window.addEventListener('scroll', function fn(ev, target) {
            // if (ev && ev.detail && ev.detail.originalEvent) ev = ev.detail.originalEvent;
            if (timer && ev) {
              return;
            } else if (ev) {
              timer = setTimeout(fn, 120);
              return;
            }
            timer = null;
            // console.log(document.scrollingElement.scrollTop);
            if (document.scrollingElement.scrollTop >= 50) {
              self.classList.add('shadow');
              document.body.classList.add('toolbar-deep');
            } else {
              self.classList.remove('shadow');
              document.body.classList.remove('toolbar-deep');
            }
          }, { passive: true });
        }
      }
      static get is() { return 'bv-toolbar'; }
      static get properties() {
        return {
          app: {
            type: Object,
            notify: true
          },
          haveUnreadNotification: {
            type: Boolean,
            computed: '_caclHaveUnreadNotification(app.notificationCount)'
          },
          mode: {
            type: String,
            value: 'normal'
          },
          _isNotHomePage: {
            type: Boolean,
            computed: '_isNotHome(app.pageName)'
          },
          rightMenuName: {
            type: String,
            value: 'notifications'
          },
          rightMenus: {
            type: Array
          }
        };
      }
      _jumpToNotifications() {
        window.v2ex.goToPage(this.rootPath + 'notifications');
      }
      _menuClicked(ev) {
        for (let i = 0, len = ev.target.parentElement.children.length; i < len; i++) {
          if (ev.target.parentElement.children[i] === ev.target) {
            setTimeout(() => {
              this.$['paper-menu'].close();
              typeof this._menus[i].onclick === 'function' && this._menus[i].onclick(this._menus[i], i);
              this.dispatchEvent(new CustomEvent('menu-click', {detail: {menu: this._menus[i], index: i}}));
            }, 100);
          }
        }
      }
      _backToTop() {
        document.scrollingElement.scrollTop = 0;
      }
      _isNotHome(pageName) {
        return pageName !== 'Timeline';
      }
      _caclHaveUnreadNotification(count) {
        return this.app.notificationCount > 0;
      }
      back() {
        history.back();
      }
      setMode(mode) {
        switch (mode) {
          case 'plain': {
            this.mode = 'plain';
            document.body.classList.add('smaller-toolbar');
            break;
          }
          case 'no-border': {
            this.mode = 'no-border';
            document.body.classList.add('no-border-toolbar');
            break;
          }
          case 'hidden': {
            this.mode = 'hidden';
            this.classList.add('no-toolbar');
            break;
          }
          case 'shadow': {
            this.mode = 'shadow';
            document.body.classList.add('shadow-toolbar');
          }
          default: {
            this.mode = 'normal';
            document.body.classList.remove('smaller-toolbar');
          }
        }
        if (mode !== 'hidden') this.classList.remove('no-toolbar');
        if (mode !== 'no-border') document.body.classList.remove('no-border-toolbar');
        if (mode !== 'plain') document.body.classList.remove('smaller-toolbar');
        if (mode !== 'shadow') document.body.classList.remove('shadow-toolbar');
      }
      setRightMenu(type, menu) {
        if (!type) type = 'none';
        if (type === 'normal' || type === 'notifications') {
          this.rightMenuName = 'notifications';
        } else if (type === 'menu') {
          this.rightMenuName = 'menu';
          this._menus = menu;
          this.rightMenus = menu.map((val) => {
            if (typeof val === 'string') return val;
            return val.label;
          });
        }
      }
      connectedCallback() {
        super.connectedCallback();
        this.app.toolbar = this;
      }
    }

    window.customElements.define(BVToolbar.is, BVToolbar);
  </script>
</dom-module>
