<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<dom-module id="bv-html">
  <template strip-whitespace>
      <style>
      :host {
        display: inline-block;
      }
      </style>

      <slot name="content"></slot>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BVHtml extends Polymer.Element {
      static get is() { return 'bv-html'; }
      static get properties() {
        return {
          html: {
            type: String,
            observer: '_htmlChanged'
          },
          unescape: {
            type: Boolean,
            value: false
          }
        };
      }
      _htmlChanged(html) {
        var child = Polymer.dom(this).queryDistributedElements('*')[0];
        if (this.unescape) {
          html = this._unescapeHtml(html);
        }
        if (child) {
          Polymer.dom(child).innerHTML = html;
        } else {
          Polymer.dom(this.root).innerHTML = html;
        }
      }
      _unescapeHtml(html) {
        var textarea = document.createElement('textarea');
        textarea.innerHTML = html;
        return textarea.textContent;
      }
    }

    window.customElements.define(BVHtml.is, BVHtml);
  </script>
</dom-module>
