:host {
  padding-bottom: 20px;
  background: var(--surface);
  min-height: 100vh;
}

:host-context(.theme-dark) .topic-card {
  background-image: url(../../../../assets/card-bg-dark.png);
  background-size: cover;
}
:host-context(.theme-dark) .topic-card .buttons-line .up-down .down {
  background-color: var(--surface-16dp);
}
:host-context(.theme-dark) .comment-area-header {
  background-color: var(--surface-1dp);
}

.topic-card {
  margin: 9px 15px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 13px 36px 1px rgba(0, 0, 0, 0.04), 0 3px 16px rgba(0, 0, 0, 0.08);
  background-image: url(../../../../assets/card-bg.png);
  background-size: contain;
  background-color: var(--surface-4dp);
}
.topic-card.enter-animation {
  animation-name: scaleBounce3;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}
.topic-card .circle {
  width: 4px;
  height: 4px;
  background-color: var(--text-secondary-color);
  display: inline-block;
  margin: 0 2px;
  position: relative;
  top: -2px;
  border-radius: 2px;
}
.topic-card .title-line {
  display: flex;
  flex-direction: row;
}
.topic-card .title-line .follow-post {
  padding: 1px 2px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 5px;
  line-height: 1;
  position: relative;
  top: -1px;
  transition: all 0.3s ease-out;
  position: relative;
}
.topic-card .title-line .follow-post .background {
  background-color: #f5c035;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.topic-card .title-line .follow-post.following .background {
  animation-name: shrinkToMiss;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
.topic-card .title-line .follow-post.following .fa {
  color: #f5c035 !important;
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.12));
  animation-name: scaleBounce2;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}
.topic-card .title-line .title {
  line-height: 1.6em;
  padding-top: 2px;
  flex: 1;
  font-weight: bold;
  font-size: 16px;
  word-break: break-all;
  margin-right: 15px;
}
.topic-card .title-line .title .fa {
  position: relative;
  z-index: 1;
  vertical-align: top;
  font-size: 16px;
  color: #FEE43F;
  color: #fff;
  transition: color 0.4s ease-out;
}
.topic-card .title-line .avatar img {
  vertical-align: top;
  width: 48px;
  height: 48px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
}
.topic-card .buttons-line {
  display: flex;
  flex-direction: row;
  margin-top: 2.2rem;
  justify-content: space-between;
  align-items: center;
}
.topic-card .buttons-line .up-down {
  margin-top: 15px;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}
.topic-card .buttons-line .up-down .up, .topic-card .buttons-line .up-down .down {
  height: 24px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px;
  min-width: 38px;
  box-sizing: border-box;
  border-radius: 24px;
  justify-content: center;
}
.topic-card .buttons-line .up-down .up {
  @apply --blue-bg;
  margin-right: 7px;
}
.topic-card .buttons-line .up-down .up > span {
  padding-right: 3px;
}
.topic-card .buttons-line .up-down .down {
  background-color: #D9D9D9;
  color: #fff;
}
.topic-card .buttons-line .up-down .material-icons {
  font-size: 18px;
}
.topic-card .buttons-line .likes-collects {
  display: flex;
  flex-direction: row;
}
.topic-card .buttons-line .likes-collects .material-icons {
  font-size: 18px;
}
.topic-card .buttons-line .likes-collects .like.liked {
  color: #f31212;
}
.topic-card .buttons-line .likes-collects .like {
  margin-right: 15px;
}
.topic-card .buttons-line .likes-collects .like.liked .material-icons {
  animation-name: scaleBounce;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.32, 1.31, 0.66, 1.27);
}
.topic-card .buttons-line .likes-collects .collect.collected {
  color: var(--blue);
}
.topic-card .buttons-line .likes-collects .like, .topic-card .buttons-line .likes-collects .collect {
  position: relative;
  color: var(--light-text-secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topic-card .buttons-line .likes-collects .like .icon, .topic-card .buttons-line .likes-collects .collect .icon {
  font-size: 19px;
  font-weight: bold;
  display: flex;
  height: 23px;
  align-items: center;
  margin-bottom: 4px;
}
.topic-card .buttons-line .likes-collects .like .icon .count, .topic-card .buttons-line .likes-collects .collect .icon .count {
  margin-left: 3px;
  display: none;
}
.topic-card .buttons-line .likes-collects .like .icon .count.show, .topic-card .buttons-line .likes-collects .collect .icon .count.show {
  display: block;
}
.topic-card .buttons-line .likes-collects .like > span, .topic-card .buttons-line .likes-collects .collect > span {
  font-size: 9px;
  opacity: 0.7;
}
.topic-card .info-line {
  margin-top: 3.5vw;
  font-size: 12px;
  color: var(--light-text-secondary-color);
}
.topic-card .info-line .fa-chevron-right {
  font-size: 10px;
  margin-left: 2px;
}
.topic-card .info-line .node-name {
  margin-right: 2px;
  border-radius: 2px;
  padding: 1px 3px;
  color: var(--light-text-secondary-color);
  text-decoration: none;
}
.topic-card .info-line .material-icons {
  font-size: 12px;
}

.hide {
  display: none !important;
}

.previous-comments {
  --bv-user-avatar-size: 42px;
}

.user-header {
  font-size: 12px;
  color: red;
}

bv-reply-box {
  visibility: hidden;
}

bv-reply-box[visibility=show-reply-box] {
  visibility: visible;
}

.appended {
  margin-bottom: 30px;
}
.appended bv-light-button {
  display: inline-block;
  margin-left: 20px;
  color: #777;
  border-bottom-left-radius: 0;
}
.appended .topic-content {
  margin-top: 15px;
}
.appended.enter-animation .topic-content {
  opacity: 1;
}

.topic-content {
  margin-top: 40px;
  font-size: 14px;
  /** Make sure the width of content area is an integer multiple of font size. */
  padding: 0 15px 0 21px;
  display: block;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.topic-content.enter-animation {
  opacity: 1;
}
.topic-content img {
  max-width: 100% !important;
}

.replies-group.hide-children bv-topic-reply {
  display: none;
}

.no-comment-tip {
  display: none;
}
.no-comment-tip.show {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  margin-top: -25px;
}
.no-comment-tip .material-icons {
  margin-right: 5px;
}
.no-comment-tip bv-light-button {
  height: 40px;
  padding: 0 15px;
}

.comment-area-header {
  background: #F8F8F8;
  height: 60px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0, rgba(0, 0, 0, 0) 3px);
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.comment-area-header .comment-count {
  height: 30px;
}
.comment-area-header .comment-count .material-icons {
  position: relative;
  top: 1px;
  font-size: 16px;
  margin-right: 5px;
}

.loading-layer {
  display: flex;
  left: 0;
  top: 0;
  background-color: var(--surface);
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
}
.loading-layer paper-spinner-lite {
  position: relative;
  top: calc(-10px - var(--bv-toolbar-height));
}
.loading-layer.hide {
  display: none;
}

#loadmore {
  display: block;
  text-align: center;
}

#loadmore paper-spinner-lite {
  margin-top: 16px;
}

#loadmore paper-spinner-lite.hide {
  display: none;
}

@keyframes scaleBounce {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleBounce2 {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleBounce3 {
  0% {
    transform: scale(1) translate3d(0, 10px, 0);
  }
  50% {
    transform: scale(1.015) translate3d(0, -2px, 0);
  }
  100% {
    transform: scale(1) translate3d(0, 0, 0);
  }
}
@keyframes shrinkToMiss {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/*# sourceMappingURL=bv-topic-page.css.map */
